@import 'tailwindcss';

::selection {
  background-color: #5F4B64; /* Cor de destaque */
  color: #FFF6FF; /* Cor do texto */
}

:root {
  --bg-color: #252525; /* Cor de fundo */
  --text-color: #FFF6FF; /* Cor do texto */
  --highlight-color: #5F4B64; /* Cor de destaque */

  --sh-class: #5F4B64; /* Cor de destaque */
  --sh-identifier: #FFF6FF; /* Cor de texto */
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #5F4B64; /* Cor de destaque */
    --sh-identifier: #FFF6FF; /* Cor de texto */
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
    background-color: var(--bg-color); /* Cor de fundo */
    color: var(--text-color); /* Cor de texto */
  }
}

html {
  min-width: 360px;
  background-color: var(--bg-color); /* Cor de fundo */
  color: var(--text-color); /* Cor de texto */
}

.prose a {
  @apply underline transition-all;
  color: var(--highlight-color); /* Cor de destaque */
}

.prose p {
  @apply my-4;
  color: var(--text-color); /* Cor de texto */
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900;
  background-color: var(--bg-color); /* Cor de fundo */
  color: var(--text-color); /* Cor de texto */
}

.highlight {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}
