.timeline-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}


.timeline-date {
  width: 100px;
  text-align: left;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 3px;
}


.timeline-dot {
  width: 12px;
  height: 12px;
  background-color: var(--highlight-color);
  border-radius: 50%;
  position: relative;
  margin: 8px 10px 0 10px;
}

.timeline-item:before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--highlight-color);
  top: 16px;
  left: 115px;
  bottom: -48px;
  z-index: -1;
}

.timeline-content {
  padding: 0 20px 20px 10px;
  /* Espaçamento do conteúdo */
  border-radius: 8px;
  color: var(--text-color);
  flex: 1;
}

.timeline-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color);
}

.timeline-title a {
  text-decoration: none;
  color: var(--highlight-color);
}

.timeline-title a:hover {
  text-decoration: underline;
}

.timeline-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}

.timeline-type {
  padding: 10px 0;
}

p {
  margin-bottom: 0;
}

.timeline-item:last-child:before {
  display: none;
}